/* Wrong.css */
.result-page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  overflow-y: auto; /* 전체 페이지에서 하나의 스크롤로 사용할 수 있도록 설정 */
  height: calc(100vh - 60px); /* 화면 크기에 맞게 조정 */
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.test-name {
  font-size: 20px;
  font-weight: 600;
  color: #4f4fcb;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.test-name:hover {
  color: #0056b3;
}

.test-answers {
  width: 90%;
}

.question-box {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 90%;
}

.choices p {
  margin: 5px 0;
}

.correct-answer {
  color: green;
}

.selected-answer {
  color: red;
}

.delete-all-button {
  background-color: #f0f0f0;
  color: black;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

.delete-all-button:hover {
  background-color: #a9a9a9;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4f4fcb;
  color: white;
  border-radius: 30px;
  text-align: center;
  margin: 20px 0;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  background-color: #3e3eab;
}
