.result-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px; /* 하단에 충분한 여백 추가 */
}

.result-top {
  margin-bottom: 30px;
}

.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.result-title h2 {
  font-size: 30px;
  color: #333;
  margin: 0;
}

.result-score {
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  color: #333;
}

.result-status {
  margin: 10px 0 15px;
  font-size: 30px;
  font-weight: bold;
}

.fail {
  color: #ff3b3b;
}

.pass {
  color: #009f3f;
}

.result-info {
  font-weight: 500;
  font-size: 16px;
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.result-info p {
  margin: 5px 0;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 30px 20px;
  border: 2px solid #ddd;
  border-radius: 15px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.result-chart {
  margin-top: 20px;
  height: 250px;
  min-width: 250px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  background-color: #ffffff;
}

.subject-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.subject-name {
  font-size: 14px;
  font-weight: bold;
  width: 50px;
  position: absolute;
  bottom: -35px;
  text-align: center;
}

.bar {
  width: 25px;
  background-color: #4f4fcb;
  position: absolute;
  bottom: 0;
}

.correct-count {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.midline {
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff3b3b;
}

.resultpage-btn {
  margin-top: 70px; /* 버튼 상단에 더 많은 여백 추가 */
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative; /* 기본 레이아웃에 맞게 위치 */
}

.result-btn-container {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
}

.wrong-answer-btn {
  background-color: #4f4fcb;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px; /* 아래 네비게이션바와 겹치지 않게 여백 추가 */
}

.wrong-answer-btn:hover {
  background-color: #3e3eab;
}

.wrong-answer-btn p {
  margin: 0;
  font-size: 16px;
}