.result-page {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 70vh;
  align-items: center; /* 가운데 정렬 */
}

.result-top {
  margin-bottom: 0;
}

.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.result-title h2 {
  font-size: 40px;
  color: #333;
  margin: 0;
}

.result-score {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.result-status {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
.fail {
  color: #ff0000;
}
.pass {
  color: #009f3f;
}

.result-info {
  font-weight: 500;
  font-size: 14px;
  align-self: flex-start;
  display: flex; /* flex 컨테이너로 설정 */
  flex-direction: column; /* 세로로 아이템 배치 */
  margin-bottom: 20px;
}

.result-info p {
  margin: 0;
}

.result-chart {
  margin: 0px 20px 20px;
  height: 70%;
  min-width: 300px;
  width: 320px;
  padding: 40px 20px 20px;
  display: flex;
  outline: 2px rgb(201, 201, 201) solid;
  border-radius: 15px;
  position: relative;
}

.subject-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  transform: translateY(-5%);
  border-bottom: #c9c8c8 2px solid;
}

.subject-name {
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  position: absolute; /* 과목 이름을 절대 위치로 설정 */
  bottom: 5px; /* 아래쪽으로 위치 */
  left: 10%; /* 가운데로 정렬 */

  transform: translateY(150%);
}

.bar {
  width: 30px; /* 막대의 너비 */
  background-color: #c9c8c8;
  position: absolute; /* 절대 위치로 설정 */
  bottom: 0; /* 아래쪽으로 정렬 */
}

.correct-count {
  position: absolute; /* 절대 위치로 설정 */
  top: -20px; /* 막대 위로 상단으로 이동 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
  font-size: 14px;
  font-weight: 500;
}

.midline {
  position: absolute;
  bottom: 40%; /* 40점을 기준으로 위치 */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(232, 103, 103);
}

.fail-subjects {
  margin: 20px 20px 60px; /* result-chart와의 간격 조정 */
  outline: 2px rgb(201, 201, 201) solid;
  border-radius: 15px;
  padding: 20px;
  min-width: 300px;
  width: 320px;
}

.fail-subjects h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.fail-subjects ul {
  list-style: none;
  padding: 0;
}

.fail-subjects ul li {
  margin-bottom: 5px;
}

.fail-subjects p {
  margin-top: 10px;
}

.resultpage-btn {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;/* 페이지 내 다른 요소들 위에 보이도록 설정 */
}

.result-btn-container {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  background: none; /* 네모 박스 제거 */
  border: none; /* 네모 박스 제거 */
}

.problem-btn,
.wrong-answer-btn {
  background-color: #4f4fcb;
  color: white;
  padding: 15px 10px; /* 세로 패딩만 설정하여 높이를 일정하게 유지 */
  border-radius: 30px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 55%; /* 버튼이 컨테이너의 전체 너비를 차지하도록 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.problem-btn:hover,
.wrong-answer-btn:hover {
  background-color: #4f4fcb;
}

.problem-btn p,
.wrong-answer-btn p {
  margin: 0;
  font-size: 15px;
}